<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>editar</h1>
    <form action="/editar/{{id}}" method="post">
        <input type="text" value="{{tarefa}}" name="tarefa">
        <button>enviar</button>
        <button><a href="/tarefas">cancelar</a></button>
    </form>
</body>
</html>